# Compiled Go binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below if using vendoring)
# vendor/

# Directory for built binaries
bin/

# Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store

# Environment variables file
.env
